---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="about">
  <h3>{t("about.title")}</h3>

  <div class="p-container">
    <p>
      {t("about.p1.1")}
      <span class="primary">{t("about.p1.2")}</span>
      {t("about.p1.3")}
      <span class="gradient">{t("about.p1.4")}</span>
    </p>

    <p>
      {t("about.p2.1")}
      <span class="secondary">{t("about.p2.2")}</span>
      {t("about.p2.3")}
      <span class="primary">{t("about.p2.4")}</span>
      {t("about.p2.5")}
      <span class="gradient">{t("about.p2.6")}</span>
      {t("about.p2.7")}
    </p>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h3 {
    text-align: center;
  }

  .p-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1200px;
    text-wrap: pretty;
  }

  /* .p-contaienr mq */
  @media (max-width: 768px) {
    .p-container {
      text-align: center;
    }
  }

  .primary {
    color: var(--primary-500);
  }

  .secondary {
    color: var(--secondary-700);
  }

  .gradient {
    background: linear-gradient(90deg, var(--secondary-700), var(--accent-500));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
