<section>
  <h3>About me</h3>

  <div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi fugiat
      nulla qui natus reprehenderit dolor repellat unde amet id deserunt error
      minima, deleniti officiis mollitia, tenetur cumque? Illum, dignissimos
      maxime?
    </p>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
