---
import "../styles/global.css";
---

<header>
  <nav>
    <span>Dario Nalerio</span>

    <div>
      <button>b</button>
      <button>Resume</button>
    </div>
  </nav>
</header>

<style>
  header {
    background-color: var(--primary-200);
    margin-top: 1rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
