---
import "../styles/global.css";
import LangBtn from "./ui/LangBtn.astro";
---

<header>
  <nav>
    <LangBtn btnLang="es" />
    <LangBtn btnLang="en" />
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
  }
  nav {
    display: flex;
    gap: 0.5rem;
    background-color: var(--background-400);
    padding: 0.5rem;
    border-radius: 15px;
    transition: opacity 0.3s;
    border: 0.1px solid var(--background-700);
  }
</style>
