---
import Skills from "./Skills.astro";
import DownArrowIcon from "../components/Icons/DownArrow.astro";
---

<section id="hero">
  <span class="h1-span">Hey! I'm</span>
  <h1 class="stroke-text">Dario Nalerio</h1>
  <h2>
    A passionate <span class="h2-span">web developer</span> crafting digital experiences
  </h2>

  <div class="hero-section-container">
    <Skills />
  </div>

  <a href="#about">
    <DownArrowIcon class="down-arrow" />
  </a>
</section>

<style>
  section {
    text-align: center;
    text-wrap: pretty;
  }
  .hero-section-container {
    margin-top: 2rem;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }
  .h1-span {
    font-size: var(--font-size-lg);
    font-weight: 700;
    opacity: 0.9;
    text-transform: uppercase;
    color: var(--text-300);
  }

  h2 {
    text-wrap: balance;
    margin-top: 1rem;
    font-size: var(--font-size-xs);
    color: var(--primary-500);
    opacity: 0.9;
  }

  .h2-span {
    color: var(--accent-500);
  }
  .h2-span:after {
    content: ",";
    color: var(--primary-500);
  }

  .stroke-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-400);
    transition: all 0.3s;
  }

  .stroke-text:hover {
    color: var(--text-400);
    scale: 1.1;
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.5));
  }

  /* Non-WebKit browsers support */
  @supports (text-stroke: 1px black) {
    .stroke-text {
      text-stroke-width: 1px;
      text-stroke-color: var(--text-400);
    }
  }

  .down-arrow {
    margin-top: 8rem;
    background-color: var(--color-accent-500);
    width: 5rem;
    height: 5rem;
    animation: bounce 4s 10;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
</style>
