---
import Skills from "./Skills.astro";
import DownArrowIcon from "../components/Icons/DownArrow.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="home">
  <span class="h1-span">{t("hero.h1.span")}</span>
  <h1 class="stroke-text">{t("hero.h1.name")}</h1>
  <h2>
    {t("hero.h2.first")}
    <span class="h2-span">{t("hero.h2.second")}</span>{t("hero.h2.third")}
  </h2>

  <div class="hero-section-container">
    <Skills />
  </div>

  <DownArrowIcon class="down-arrow" />
</section>

<style>
  section {
    padding: 6rem 0;
    text-align: center;
    text-wrap: pretty;
  }
  .hero-section-container {
    margin-top: 2rem;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }
  .h1-span {
    font-size: var(--font-size-lg);
    font-weight: 700;
    opacity: 0.9;
    text-transform: uppercase;
    color: var(--text-300);
  }

  h2 {
    text-wrap: balance;
    margin-top: 1rem;
    font-size: var(--font-size-xs);
    color: var(--primary-500);
    opacity: 0.9;
  }

  .h2-span {
    color: var(--accent-500);
  }
  .h2-span:after {
    content: ",";
    color: var(--primary-500);
  }

  .stroke-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-400);
    transition: all 0.3s;
  }

  .stroke-text:hover {
    color: var(--text-400);
    scale: 1.1;
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.5));
  }

  /* Non-WebKit browsers support */
  @supports (text-stroke: 1px black) {
    .stroke-text {
      text-stroke-width: 1px;
      text-stroke-color: var(--text-400);
    }
  }

  .down-arrow {
    margin-top: 8rem;
    background-color: var(--color-accent-500);
    width: 5rem;
    height: 5rem;
    animation: bounce 4s 10;
  }

  /*  mq */
  @media (max-width: 768px) {
    .down-arrow {
      margin-top: 4rem;
    }
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
</style>
