<div class="divider"></div>

<style>
  .divider {
    width: 3px;
    height: 2rem; /* Match the height of the icons */
    background-color: var(--text);
    opacity: 0.05;
    margin: 0 0.1rem; /* Space around the divider */
    border-radius: 3px;
  }
</style>
