---
import UruguayanFlag from "../Icons/UruguayanFlag.astro";
import UsaFlag from "../Icons/UsaFlag.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

interface Props {
  btnLang: "en" | "es";
}
const { btnLang } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const isCurrentLang = lang === btnLang;

const slug = btnLang === "en" ? "en" : "es";
const href = `/${slug}/`;
const ariaLabel = lang === "en" ? t("header.eng.aria") : t("header.es.aria");
---

<a href={href} aria-label={ariaLabel} class:list={{ isCurrentLang }}>
  {btnLang === "en" ? <UsaFlag class="flag" /> : <UruguayanFlag class="flag" />}
</a>

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    border-radius: 25%;
    padding: 0.5rem;
  }
  a:hover {
    opacity: 0.8;
  }

  .flag {
    width: 2rem;
    height: 2rem;
  }
  .isCurrentLang {
    background-color: var(--background-700);
  }
</style>
