---
import UruguayanFlag from "../Icons/UruguayanFlag.astro";
import UsaFlag from "../Icons/UsaFlag.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

interface Props {
  btnLang: "en" | "es";
}
const { btnLang } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const isCurrentLang = lang === btnLang;

const slug = btnLang === "en" ? "en" : "es";
const href = `/${slug}/`;
const ariaLabel = lang === "en" ? t("header.eng.aria") : t("header.es.aria");
---

<a href={href} aria-label={ariaLabel}>
  {
    btnLang === "en" ? (
      <UsaFlag class="flag" class:list={{ isCurrentLang }} />
    ) : (
      <UruguayanFlag class="flag" class:list={{ isCurrentLang }} />
    )
  }
</a>

<style>
  a {
  }

  a:hover {
    opacity: 0.8;
  }

  .flag {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block; /* Ensures that the background only covers the content */
    padding: 0.5rem; /* Adjust padding as needed */
  }

  .isCurrentLang {
    background-color: var(--background-700);
    border-radius: 0.5rem;
  }
</style>
